body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB) no-repeat;
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    overflow: hidden;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes borders {
    0% {
        border-top: 1px dotted transparent;
    }

    50% {
        border-top: 19px dotted transparent;
    }

    100% {
        border-top: 1px dotted transparent;
    }
}

:root {
    --navc: rgba(0, 0, 0, 0.64); --txtc: white; }

.pulse {
    overflow: visible;
    position: relative;
}

* {
    user-select: none;
}

.pulse::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s, -webkit-transform .3s;
    -webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: -1
}

@-webkit-keyframes pulse-animation {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }
}

@keyframes pulse-animation {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }
}

.nav {
    background: black;
    color: white;
    text-align: center;
    padding: 0.5em 0em;
    letter-spacing: 1vw;
    width: 100%;
    z-index: 99;
    transition: 0.5s;
    height: 40px;
}

.full {
    position: absolute;
    height: 100vh;
    animation: opp linear 0.9s infinite;
}

@keyframes opp {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

.mid {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
}

.scroll {
    position: fixed;
    top: 0;
    padding: 0px;
}

.opts {
    border-radius: 50%;
    text-align: center;
    background: #00bcd4;
    font-size: 50px;
    color: white;
    cursor: pointer;
    position: fixed;
    user-select: none;
    bottom: 10px;
    right: 13px;
}

.save {
    left: 0;
    right: unset!important;
    padding: 0.5rem;
    font-size: 36px;
}

ol#lissy {
    list-style: none;
    display: inline-block;
    width: 100%;
    counter-reset: item;
}

#lissy>li.item {
    float: left;
    margin: 5px 5px;
    counter-increment: item;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.58), 0 2px 10px 0 rgba(0, 0, 0, 0.83);
}

.title::after {
    content: counter(item);
    position: relative;
    left: 5px;
}

#dropper {
    height: 75vh;
    width: 96vw;
    overflow-y: scroll;
    position: relative;
    top: 5%;
    overflow-x: hidden;
}

ol#lissy>li>div {
    padding: 1rem 0rem 1rem 1rem;
    background: #fef6ae;
    position: relative;
    border: 0;
    border-radius: 2px;
}

.title {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    font-size: 10px;
    text-align: center;
}

.text {
    background-color: #fef6ae;
    user-select: unset!important;
    border: 0;
    resize: none;
    outline: none;
    font-size: 10px;
    font-weight: unset;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #0ae;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}

.search {
    background: transparent;
    border: 0;
    outline: none;
    border-bottom: solid 1px white;
    position: relative;
    color: white;
    transition: 0.5s;
    width: 20%;
    text-align: center;
    top: -2px;
}

::placeholder {
    color: #ffffff61;
}

.search:focus {
    width: 70%;
}

.search_div {
    text-align: center;
}

.tool>i {
    font-size: 9px;
    border: solid 0.5px #666;
    border-radius: 50px;
    padding: 2.1px;
    color: #666;
    cursor: pointer;
    transition: 0.5s;
}

.tool {
    position: absolute;
    bottom: 2px;
    right: 11px;
}

.tool>i:hover {
    font-size: 12px;
}

textarea::-webkit-scrollbar {
    width: 2px
}

.WOW {
    background: #ffffff87;
}

.WOW:AFTER {
    CONTENT: '⮦Drop Files⮧';
    font-size: xx-large;
    color: white;
    background: #66666687;
    border-radius: 15px 0px;
    padding: 1rem;
    position: absolute;
    left: 0;
    width: 100%;
    right: 0;
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: show;
}
.down{
    right: 0;
    left: 0;
    border-radius: 0;
    bottom: 0;
    padding: 0rem 3rem;
    font-size: 23px;
    margin: auto;
    width: 20px;
}
.flyon {
    position: absolute;
    background: #323232;
    color: white;
    padding: 0.3rem 2rem;
    text-align: left;
    z-index: 99;
    transition: 0.5s;
    text-transform: uppercase;
    letter-spacing: 8px;
    user-select: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.58), 0 2px 10px 0 rgba(0, 0, 0, 0.83);
    left: -3px;
    top: 5%;
    animation: linear gh 1 1s;
    width: auto;
}
@media only screen and (max-width: 768px) {
    .flyon {
        width: 100%;
        text-align: center;
    }
}
@keyframes gh {
  0%
  {
    top: 5%;
  }
 
  100%
  {
    top: -7%;
    
  } 
}
